<main class="p-5">

	<div class="card p-5">
		<p id="test">
			Hello world! Hello world! Hello world! Hello world! Hello world! Hello world!
		</p>
		<p id="test">
			Hello world!
		</p>
		<p id="test">
			Hello world!
		</p>
		<span class="test">Hello world!</span>
		<pre hidden>	asd</pre>
		<pre>	asd</pre>
	</div>

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

	<div style="padding: 10px 50px 100px; background: gray;">
		<span class="block">Inline asdf sadfd saadf sdfv</span>
		<span>Inline</span>
		<span>Inline</span>
	</div>
	<span>Inline</span>
</main>