<!DOCTYPE html>
<html>

<head>
	<title>
		Dashboard page
	</title>
	<meta charset='utf-8' />


	<link href='css/normalize.css' rel='stylesheet' />

	<link href='css/dashboard.css' rel='stylesheet' />

	<meta name="viewport"
		content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<div class="page page--dashboard">
		<aside class="page_aside aside vertical vertical--big">
			<div class="text aside_logo">
				Sidebar
			</div>
			<nav class="vertical verical--small">
				<a href="#" class="nav-button nav-button--active click">
					<span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg')"></span>
					<span class="text text--light">Home</span>
				</a>

				<a href="#" class="nav-button click">
					<span class="icon nav-button__icon" style="background-image: url('/svg/nav/orders.svg')"></span>
					<span class="text text--light">Orers</span>
				</a>

				<a href="#" class="nav-button click">
					<span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg')"></span>
					<span class="text text--light">Products</span>
				</a>

				<div class="reletive click">
					<div class="field field--select">
						<span class="text text--light">Chose...</span>
					</div>
					<select class="field__select">
						<option value="dog">Dog</option>
						<option value="cat">Cat</option>
						<option value="hamster">Hamster</option>
						<option value="parrot">Parrot</option>
						<option value="spider">Spider</option>
					</select>
				</div>
			</nav>
		</aside>

		<header class="header">
			<div class="layout header__content text--small">
				<div class="header_search reletive">
					<input type="text" class="text field field--header" placeholder="Search">
					<span class="icon header__icon-search"
						style="background-image: url('/svg/header/search.svg')"></span>
					<span class="icon icon--header-settings icon-button icon--color-blue click"
						style="background-image: url('/svg/header/settings.svg')"></span>
				</div>

				<div class="header_right reletive">
					<span class="icon_2 header__icon-wifi icon-button-right icon--color-yellow click"
						style="background-image: url('/svg/header/wifi.svg')"></span>
					<span class="icon_2 icon--header-land icon-button-right icon--color-blue-light click"
						style="background-image: url('/svg/header/land.svg')"></span>
					<span class="icon_2 icon--header-bell icon-button-right icon--color-yellow click"
						style="background-image: url('/svg/header/bell.svg')"></span>
				</div>
			</div>
		</header>

		<main class="main">
			<div class="main__top">
				<div class="layout">
					<sectiom class="box analitic__block">
						<div class="analitic analitic--double analitic--blue">
							<span class="icon analitic__button icon-button icon--color-blue click"
								style="background-image: url('/svg/analitic/order.svg')"></span>

							<div class="reletive vertical vertical--small">
								<div class="analitic__title text text--light">$961</div>
								<div class="text text--small text--lighter">Total Order</div>

								<span class="icon analitic__arrow"
									style="background-image: url('/svg/analitic/blue-arrow.svg')"></span>
							</div>
						</div>

						<div class="analitic analitic--double analitic--purple">
							<span class="icon analitic__button icon-button icon--color-purple click"
								style="background-image: url('/svg/analitic/price.svg')"></span>

							<div class="reletive vertical vertical--small">
								<div class="analitic__title text text--light">$500.00</div>
								<div class="text text--small text--lighter">Total earning</div>
							</div>
						</div>

						<div class="analitic analitic--one analitic--blue">
							<span class="icon analitic__button icon-button icon--color-blue click"
								style="background-image: url('/svg/analitic/order.svg')"></span>

							<div class="reletive vertical vertical--small">
								<div class="analitic__title-mini text text--light">$203k</div>
								<div class="text text--small text--lighter">Total Income</div>
							</div>
						</div>

						<div class="analitic analitic--one analitic--none">
							<span class="icon analitic__button icon-button icon--color-yellow click"
								style="background-image: url('/svg/analitic/shop.svg')"></span>

							<div class="reletive vertical vertical--small">
								<div class="analitic__title-mini text">$203k</div>
								<div class="text text--small text--grey">Total Income</div>
							</div>
						</div>
					</sectiom>
				</div>
			</div>

			<div class="main__left">
				<div class="layout">
					<sectiom class="box info__block-l">

						<div class="info_padding">
							<div class="text info__title vertical verticcal-small">Purchase list</div>
						</div>

						<div class="info_padding">
							<div class="line__grey"></div>
						</div>

						<div class="info_padding">
							<div class="info__block-inside">
								<div class="info__mini-block vertical verticcal-small">
									<div class="text id--info">ID437661</div>
									<div class="text id--info">May 11, 2023, 14:21</div>
								</div>

								<div class="info__mini-block vertical verticcal-small">
									<div class="text ">AirOn ProCam</div>
									<div class="text ">7/8 USB Type-C</div>
								</div>

								<div class="info__mini-block vertical verticcal-small">
									<div class="text ">132.32 EUR</div>
									<div class="text text--warning">Not paid</div>
								</div>

								<div class="info__mini-block vertical verticcal-small">
									<div class="text ">Customer</div>
									<div class="text ">robin@com.de</div>
								</div>
							</div>
						</div>

						<div class="info_padding">
							<div class="line__grey"></div>
						</div>

						<div class="info_padding">
							<div class="info__block-inside">
								<div class="info__mini-block vertical verticcal-small">
									<div class="text ">ID437661</div>
									<div class="text ">May 11, 2023, 14:21</div>
								</div>

								<div class="info__mini-block vertical verticcal-small">
									<div class="text ">PHILIPS Essential</div>
									<div class="text ">HD9200/90</div>
								</div>

								<div class="info__mini-block vertical verticcal-small">
									<div class="text ">543 USD</div>
									<div class="text text--success">Pay by Stripe</div>
								</div>

								<div class="info__mini-block vertical verticcal-small">
									<div class="text ">Customer</div>
									<div class="text ">robin@com.de</div>
								</div>
							</div>
						</div>
					</sectiom>
				</div>
			</div>
			{{!-- <div class="field">
				<span class="text text--light">Chose...</span>
			</div> --}}

			<div class="main__right">
				<div class="layout">
					<sectiom class="box info__block-r">
						<div class="text info__title vertical verticcal-small">Purchase list</div>

						<div class="line__grey"></div>

						<div class="info__veriable">
							<div>
								<input type="radio" id="contactChoice1" name="contact" />
								<label for="contactChoice1">Credit card</label>
							</div>
							{{!-- <div type="text" class="checkbox"></div> --}}
							{{!-- <div class="text">Credit card</div> --}}

							<div>
								<input type="radio" id="contactChoice2" name="contact" />
								<label for="contactChoice2">Debit card</label>
							</div>
							{{!-- <div class="text">Debit card</div> --}}

							<div>
								<input type="radio" id="contactChoice3" name="contact" />
								<label for="contactChoice3">PayPal</label>
							</div>
							{{!-- <div class="text">PayPal</div> --}}
						</div>

						<div class="info__card-input">
							<div class="info__input">
								<div class="text info--padding">Name of card</div>
								<input type="text" class="text info-field field--header">
							</div>

							<div class="info__input">
								<div class="text info--padding">Credit card number</div>
								<input type="text" class="text info-field field--header">
							</div>
						</div>

						<div class="info__card-input">
							<div class="info__input">
								<div class="text info--padding">Expiration</div>
								<input type="text" class="text info-field field--header">
							</div>

							<div class="info__input">
								<div class="text info--padding">CVV</div>
								<input type="text" class="text info-field field--header">
							</div>
						</div>

						<div class="line__grey"></div>

						<div class="info__card-input">
							<div class="info__input">
								<div class="text info--padding">Country</div>
								<div class="reletive click">
									<div class="info-field field--select">
										<span class="text">Chose...</span>
									</div>
									<select class="field__select info-field">
										<option value="ukrain">Ukrain</option>
										<option value="united_kingdom">United kingdom</option>
										<option value="usa">USA</option>
									</select>
								</div>
							</div>

							<div class="info__input">
								<div class="text info--padding">State</div>
								<div class="reletive click">
									<div class="info-field field--select">
										<span class="text">Chose...</span>
									</div>
									<select class="field__select info-field">
										<option value="ukrain">Ukrain</option>
										<option value="united_kingdom">United kingdom</option>
										<option value="usa">USA</option>
									</select>
								</div>
							</div>
						</div>

						<div class="line__grey"></div>

						<button class="info__button click">
							<div class="text text--light">Continue to checkout</div>
						</button>
					</sectiom>
				</div>
			</div>

		</main>
	</div>
</body>

</html>