<div class="card card-dark p-5 m-5">
    <input class="input-dark" placeholder="This is text" required>
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark">
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px">

    <a href="https://picsum.photos/200/300" rel="externalsdfg asdfb">Link</a>
    <br>
    <button class="btn">Click me</button>
    <br>
    {{!-- <a class="small btn asdfbtn-secondary big" href="https://picsum.photos/200/300">Click me</a> --}}

    <a class="small btn asdfbtn-secondary big" href="https://picsum.photos/200/300">Click me</a>
</div>

<div class="card card-dark p-5 m-5">
    <p class="big-text">
        sadzfgh sdfg dsfg <br> sdfgh sdfgh sdfg sadfg
    </p>
</div>