<div class="p-5">
    <div class="card card-dark p-5">
        <ul>
            <li class="item">1</li>
        </ul>


        <strong class="item">Strong text</strong>

        <div class="item">First</div>
        <article class="item">Second</article>
        <p class="item">Therd</p>
        <p class="item">Therd</p>
        <p>src/container/index2.hbs</p>
    </div>
</div>