<!DOCTYPE html>
<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />


	<link href='css/normalize.css' rel='stylesheet' />

	<link href='css/slack.css' rel='stylesheet' />

	<meta name="viewport"
		content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

	<div class="page">
		<section class="page_section">
			<div class="page_content hero_section">

				<div class="hero">
					<div class="hero_content">
						<span class="hero_label">Slack Features</span>

						<h1 class="hero_title">One platform for your team and your work</h1>

						<p class="hero_info double_line">All the features of Slack work together so you can, too.</p>

						<div class="hero_buttons">
							<a href="#" class="button button_primary click">Try for free</a>
							<a href="#" class="button button_secondary click">See all features</a>
						</div>

						<img src="/img/hero.png" alt="Hero" class="hero_image">
					</div>
				</div>



				<div class="brands">
					<img src="/img/brands/airbnb.png" alt="" class="brands_image">
					<img src="/img/brands/intuit.png" alt="" class="brands_image">
					<img src="/img/brands/newscorp.png" alt="" class="brands_image">
					<img src="/img/brands/onemedica.png" alt="" class="brands_image">
					<img src="/img/brands/sonos.png" alt="" class="brands_image">
					<img src="/img/brands/target.png" alt="" class="brands_image">
					<img src="/img/brands/uber.png" alt="" class="brands_image">
					<img src="/img/brands/va.png" alt="" class="brands_image">
				</div>

			</div>
		</section>

		<section class="page_section page_section_light">
			<div class="page_content features_section">
				{{!-- <img src="/img/features.png" alt="Feat" class="features_image"> --}}
				<h2 class="features_title">Work more easily with everyone</h2>
				<p class="features_description double_line">Stay on the same page and make decisions faster by bringing
					all of your
					work communication into one place.</p>

				<div class="features_grid_4">

					<div class="feat_card">
						<span class="icon feat_icon" style="background-image: url('/svg/features/connect.svg')"></span>
						<strong class="feat_card_title">Slack Connect</strong>
						<p class="double_line">Collaborate with teams at other companies the same way you do
							with
							teams at your own.</p>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon" style="background-image: url('/svg/features/channels.svg')"></span>
						<strong class="feat_card_title">Channels</strong>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon" style="background-image: url('/svg/features/huddles.svg')"></span>
						<strong class="feat_card_title">Huddles</strong>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon" style="background-image: url('/svg/features/clips.svg')"></span>
						<strong class="feat_card_title">Clips</strong>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon" style="background-image: url('/svg/features/canvas.svg')"></span>
						<strong class="feat_card_title">Canvas</strong>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon"
							style="background-image: url('/svg/features/messaging.svg')"></span>
						<strong class="feat_card_title">Messaging</strong>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon"
							style="background-image: url('/svg/features/accessibility.svg')"></span>
						<strong class="feat_card_title">Accessibility</strong>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

				</div>
			</div>
		</section>

		<section class="page_section page_section_light">
			<div class="page_content features_section_2">
				<div class="features_card_2">
					{{!-- <img src="/img/features.png" alt="Feat" class="features_image"> --}}
					<h2 class="features_title_2">What you need, when you need it</h2>
					<p class="features_description_2 double_line">Spend less time shuffling tabs with a comprehensive
						message
						archive and all your work tools at your fingertips.</p>
				</div>

				<div class="features_grid_5">

					<div class="feat_card_2">
						<span class="icon feat_icon"
							style="background-image: url('/svg/features/apps_and_int.svg')"></span>
						<strong class="feat_card_title">Apps and Integrations</strong>
						<p class="double_line">Streamline work by connecting
							Slack with other services like
							Google Drive, Office 365 and
							over 2,200 more.</p>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card_2">
						<span class="icon feat_icon" style="background-image: url('/svg/features/blis.svg')"></span>
						<strong class="feat_card_title">Workflow Builder</strong>
						<p class="double_line">Automate routine actions and
							communication, so you can get
							back to the kind of work only
							humans can do.</p>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card_2">
						<span class="icon feat_icon" style="background-image: url('/svg/features/search.svg')"></span>
						<strong class="feat_card_title">Search</strong>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card_2">
						<span class="icon feat_icon" style="background-image: url('/svg/features/file.svg')"></span>
						<strong class="feat_card_title">File sharing</strong>
						<a class="icon icon_arrow click feat_link"></a>
					</div>

				</div>
			</div>
		</section>

		<section class="page_section">
			<div class="page_content info_section">
				<div class="info_blog">
					<div class="info_image_card">
						{{!-- <img src="/img/img-deliveroo.png" alt="Hero" class="info_image_left"> --}}
					</div>

					<div class="info_blog_right">
						<p class="info_description">“The thing that keeps us connected
							the most is Slack. It’s a very
							immediate and straightforward
							method of communication, and
							really the only channel that people
							prefer and enjoy using.”
						</p>
						<img src="/img/deliveroo.png" alt="Hero" class="info_image">
						<p class="info_last">Will Sprunt, CIO, Deliveroo</p>
					</div>
				</div>
			</div>
		</section>

		<section class="page_section">
			<div class="page_content footer_section">
				<div class="footer_blog">
					<p class="footer_top">Explore more about working in Slack</p>

					<div class="footer_card">
						<div class="footer_card_1">
							<img src="/img/footer1.png" alt="Hero" class="footer_image">

							<div class="footer_card_blog">

								<p class="footer_title">Slack Tutorials</p>
								<p class="footer_text">Slack 101</p>

								<div class="footer_bottom">
									<div class="footer_card_bottom">Learn more</div>
									<a class="icon icon_arrow_footer click footer_link"></a>
								</div>

							</div>
						</div>

						<div class="footer_card_1">
							<img src="/img/footer2.png" alt="Hero" class="footer_image">

							<div class="footer_card_blog">

								<p class="footer_title">Slack vs. Email</p>
								<p class="footer_text">An easier, more
									organized way to work</p>

								<div class="footer_bottom">
									<div class="footer_card_bottom">Learn more</div>
									<a class="icon icon_arrow_footer click footer_link"></a>
								</div>

							</div>

						</div>

						<div class="footer_card_1">
							<img src="/img/footer3.png" alt="Hero" class="footer_image">

							<div class="footer_card_blog">

								<p class="footer_title">Customer Stories</p>
								<p class="footer_text">How Fastly uses Slack
									Connect to wow
									enterprise customers</p>

								<div class="footer_bottom">
									<div class="footer_card_bottom">Learn more</div>
									<a class="icon icon_arrow_footer click footer_link"></a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

</body>

</html>